html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Open Sans", sans-serif;
}

body
{
	background: #eaeaea;
}

.menu ul
{
	width: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}
.menu li
{
	margin: 0;
	padding: 0;
	display: inline-block;
}
.menu a
{
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 10px;
}
.menu a.active
{
	background: #145036;
}

header
{
	min-height: 400px;
	display: block;
	background: #222 url('/img/low2.jpg');
	background-size: 100%;
	color: #f5f5f5;
}
header .inside
{
	width: 100%;
	min-height: 400px;
	position: absolute;
	background: rgba(0,0,0,0.5);
}
header .logo
{
	width: 100%;
	top: 0;
	left: 0;
}
header .logo img
{
	width: 400px;
}
header h1
{
	margin: 0;
	text-align: center;
	display: block;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
	font-family: "Roboto Slab", san-serif;
	font-size: 250%;
	margin: 0 auto;
}